{% extends 'user/home.html' %}

{% block content %}

<style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 80%;
            margin: 20px auto;
        }
        .log-item {
            display:flex;
            justify-content: space-between;
        }
        .log-item:last-child {
            margin-bottom: 0;
        }
</style>
    <div class="container">
        <h1>{{user.username}} Log Viewer</h1>
        <div class="log-list">
           {% for log in logs %}
             <div class="log-item d-flex justify-between">
                <p><strong>Timestamp:</strong>{{log.time_created}}</p>
                <p><strong>User:</strong>{{log.user.username}}</p>
                <p class="badge badge-success">Downloaded</p>
                <p><strong>filename:</strong>{{log.filename}}</p>
             </div>   
            {% endfor %}       
        </div>
    </div>
{% endblock %}